@font-face {
	font-family:'Montserrat-Black';
	src:url(./assets/font/Montserrat-Black.ttf);
}

@font-face {
	font-family:'Montserrat-Bold';
	src:url(./assets/font/Montserrat-Bold.ttf);
}

@font-face {
	font-family:'Montserrat-ExtraLight';
	src:url(./assets/font/Montserrat-ExtraLight.ttf);
}

@font-face {
	font-family:'Montserrat-Light';
	src:url(./assets/font/Montserrat-Light.ttf);
}

@font-face {
	font-family:'Montserrat-Medium';
	src:url(./assets/font/Montserrat-Medium.ttf);
}

@font-face {
	font-family:'Montserrat-Regular';
	src:url(./assets/font/Montserrat-Regular.ttf);
}

@font-face {
	font-family:'Montserrat-SemiBold';
	src:url(./assets/font/Montserrat-SemiBold.ttf);
}

@font-face {
	font-family:'Montserrat-ExtraBold';
	src:url(./assets/font/Montserrat-ExtraBold.ttf);
}

/* Mobile devices start */
body{
  margin: 0px;
}
header {
  display: flex;
  position:relative;
  height: 70px;
}
.left-nav-container, .center-nav-container, .right-nav-container {
  display: inline-block;
  width: 100%;
  max-width: 33.333333%;
}

.left-nav-ul-list, .right-nav-ul-list {
  list-style: none;
}
.center-nav-container img {
  width: 100%;
  max-width: 100%;
}
.right-nav-container {
  max-width: 46.333333%
}
.center-nav-container a, .center-nav-container a {
  display: block;
  margin:0px;
  padding: 0px;
}
.left-nav-container {
  max-width: 10%;
  height: 100%;
  vertical-align: middle;
}
.left-nav-container div {
  margin: 25px 10px 25px 15px;
  display: block;

}
.left-nav-ul-list.open {
    display: block;
} 
.center-nav-container {
  width: auto;
  margin: 23px 10px;
  height: unset;
}
.center-nav-container a {
  display: block;
  height: 100%;
  text-align: center;
}
.left-nav-container img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.left-nav-ul-list {
  position: absolute;
  display:none;
  padding: 15px;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.083);
}


.right-nav-ul-list {
  display: block;
  margin: 21px 15px 21px 0px;
  padding: 0px;
  float: right;
}
.right-nav-ul-items {
  padding-left: 5px;
  padding-right: 2.5px;
  display: inline-block;
}

.left-nav-ul-items {
  padding:5px 0px;
  font-family:'Montserrat-Regular';
  font-size: 16px;
  
}
.left-nav-ul-items.selected {
    font-weight: bold;
}

.currency-select {
  font-family:'Montserrat-Regular';
  border: none;
  font-size: 16px;
  display: none;
}


.currency-select {
  padding-top: 3px;
  padding-bottom: 3px;
}


.shopping-bag-cart {
  position: absolute;
  display: block;
  transition: width 2s;
  width: 0px;
  height: 550px;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.631);
  right: 0px;
  top: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: pointer;
}
.shopping-bag-cart.open  {
  transition: width 2s;
  width: 300px;
  float:right	;
}
.benefits-container {
  background-color: #F2F2F2;
}
.benefits-sub-container {
  padding: 5px 15px;
  display: block;
  text-align: center;
}
.benefits-sub-container span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-sub-container p {
  font-family:'Montserrat-Regular';
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hero-banner-main-container img {
  width: 100%;
}
.deals-main-container {
  display: block;
  margin: 25px 15px;
  text-align: center;
}
.deals-items-container {
  display: inline-block;
  margin-top: 15px;
  width: 50%;
}
.main-text {
  font-family:'Montserrat-Regular';
  font-size: 32px;
  line-height: 39.01px;
  font-weight: 600;
  text-align: center;
}
.sub-text {
  font-family:'Montserrat-Regular';
  font-size: 10px;
  line-height: 12.19px;
  font-weight: 400;
  text-align: center;
}
.deals-btn {
  background: #000;
    color: #fff;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
}
.deals-btn:hover,.deals-btn:focus {
  background: #fff;
  color: #000;
}
.vip-exclusive-banner img {
  width: 100%;
  cursor: pointer;
}
.trending-main-container img {
  width: 100%;
  cursor: pointer;
}
.new-in-main-container img {
  width:100%;
  cursor: pointer;
}
.inspo-main-container img {
  width:100%;
  cursor: pointer;
}
.newsletter-main-container img {
  width:100%;
  cursor: pointer;
}
.recently-main-container {
  margin:30px;
  text-align: center;
}
.header-text {
  text-align: center;
  width: 100%;
}
.recently-subcontainer {
  position: relative;
  display: inline-block;
}
.recently-subcontainer button{
  position: absolute;
  right: 20px;
  bottom: 23px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 5px 15px;
  cursor: pointer;
}
.recently-subcontainer button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
/* Mobile devices end */
@media(min-width:480px){
  /* Mobile (landscape) devices start */
  .deals-main-container {
    margin: 70px 40px;
  }
  /* Mobile (landscape) devices end */
}

@media(min-width:720px){
  /*Tablet devices start */
    .left-nav-container, .center-nav-container, .right-nav-container{
      width: 100%;
      max-width: 33.333333%;
    }
    .left-nav-container img {
      display:none;
    }
    .left-nav-ul-list {
      display: block;
      position: relative;
      width: 100%;
      box-shadow: none;
      padding: 0px;
    }
    .left-nav-ul-items {
      display: inline;
      padding:0px 5px;
    }
    .benefits-container {
      display: flex;
    }
    .recently-subcontainer {
      margin-left: 10px;
      margin-right: 10px;
    }
  /* Tablet devices end */
}

@media(min-width:920px){
  /* Tablet (landscape)  devices start */
  .currency-select {
    display: inline-block;
  }
  .text-image-container {
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .deals-items-container {
    width: 25%;
  }
  /* Tablet (landscape)  devices end */
}

@media(min-width:1200px){
  /* Desktop devices start */
  .benefits-container{
    display: table;
    width: 100%;
    height: 50px;
  }
  .deals-main-container {
    display: flex;
  }
  .benefits-sub-container {
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
  }
  .deals-items-container {
    width: 17%;
    margin-top: 0px;
  }
  .deals-btn {
    margin-top: 0px;
  }
  /* Desktop devices end */
}
